DateTime==4.3
numpy
cloudpickle
joblib
scikit-learn
scipy
tqdm
pycairo
grpcio
pylint
matplotlib
pandas
pytest
pytest-cov
mock
tox
isort
pandas-datareader
mpl_finance
pygad
torch
gym
fire
statsmodels
ray
psutil
Bottleneck
ta
mplfinance
yfinance
black
pyyaml
plotly
click
schedule
