DateTime==4.3
numpy
cloudpickle
joblib
scikit-learn
scipy
tqdm
pycairo
grpcio
matplotlib
pandas
mock
tox
isort
pandas-datareader
pygad
torch
gym
fire
statsmodels
ray
psutil
Bottleneck
ta
mplfinance
yfinance
black
pyyaml
plotly
plotly-express
kaleido
click
schedule
ipykernel
lime
shap
captum
xgboost
catboost
torch
umap-learn
